body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
}

button {
    font-size: 18px;
    padding: 12px;
    border-radius: 4px;
}
button:hover{
    background-color: grey;
    color: white;
}

.container {
  width: 800px;
  height: 800px;
  border: 12px outset gold;
  border-radius: 10px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.grid {
  border: 2px solid gold;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
}
